#home-text-container {
  border-bottom: 1px solid $site-red;
  margin-bottom: 5px;
  margin-top: -40px;
  padding: 30px 300px 100px 300px;
  background-image: url("../../images/reddit-aliens.jpg");

  h1 {
    text-align: center;
  }

  p {
    font-size: 20px;
  }
}
