.image-div {
  display: inline-flex;
  margin-left: 5px;

  img {
    max-width: 100%;
    max-height: 200px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    img {
      max-height: 250px;
    }
  }
}

