<section>
  <div id="home-text-container">
    <h1>Welcome to Ross' Reddit Pics</h1>
    <p>Welcome! Ross' Reddit Pics is an app designed to make it easy to view the many pictures that are posted to reddit everyday. Currently the pictures are being pulled from the Imgur API. Simply type the name of the subreddit who's pictures you wish to view and then sort them however you want, hit search, and browse away!</p>
  </div>
</section>
<div ng-controller="ModalController">
  <div class="image-div" ng-repeat="image in homeController.images">
    <img src="{{image.link}}" ng-click="open(image)"/>
  </div>
</div>
