<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <form class="navbar-form" role="search" ng-submit="navbarController.query(navbarController.subreddit)">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="navbarController.subreddit.name" placeholder="Subreddit">
        <select class="form-control" ng-model="navbarController.subreddit.sort">
          <option>top</option>
          <option>time</option>
        </select>
        <select class="form-control" ng-model="navbarController.subreddit.window">
          <option>day</option>
          <option>week</option>
          <option>month</option>
          <option>year</option>
          <option>all</option>
        </select>
      </div>
      <button type="submit" class="btn btn-default"><a ng-href="#/:subredditName" ng-click="navbarController.query()">Search</a></button>
    </form>
    <ul class="nav navbar-nav">
      <li></li>
    </ul>
  </div>
</nav>
